<!DOCTYPE html>
<html>
<head>
    <title>Salary Predictor</title>
</head>
<body>
    <h2>Enter Candidate Info</h2>
    <form action="/predict" method="post">
        Experience (years): <input type="text" name="experience"><br><br>
        Test Score (out of 10): <input type="text" name="test_score"><br><br>
        Interview Score (out of 10): <input type="text" name="interview_score"><br><br>
        <input type="submit" value="Predict">
    </form>
    <h3>{{ prediction_text }}</h3>
</body>
</html>
